<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">

    <title>Book</title>
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top" id="nav">
    <a class="navbar-brand" href="/"><img src="../static/logo.svg" class="logo" alt="">OnceUponABook?</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="navbar-nav ml-auto text-center">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/reviews">Reviews</a>
          <a class="nav-item nav-link" href="/allbooks">Books</a>
        <a class="nav-item nav-link active" href="/search">SearchABook</a>
        <a class="nav-item nav-link "href="/close">Close</a>
      </div>
    </div>
    </nav>

    <div class="us">User: {{session['user']}}</div>
    <div class="info">
      <h1>{{book.title}}</h1>
      <ul>
        <li>ISBN: {{book.isbn}}</li>
        <li>Autor: {{book.author}}</li>
        <li>Año de Publicación: {{book.year}}</li>
      </ul>
    </div>
    <div class="bookinfo">
    <br>
    <h1>Reviews</h1>
      <ul>
        {% for review in reviews %}<br>
          <img src="../static/user.svg" width="50" height="50" class="rounded-circle d-inline-block" alt=""><b>   {{review.usser}}</b>
          <br>{{review.review}}
          <br>
          {% if review.calif == 1 %}
            <p class="star"> Calificación: ★ </p>
          {% endif %}
          {% if review.calif == 2 %}
            <p class="star"> Calificación: ★★ </p>
          {% endif %}
          {% if review.calif == 3 %}
            <p class="star"> Calificación: ★★★ </p>
          {% endif %}
          {% if review.calif == 4 %}
            <p class="star"> Calificación: ★★★★ </p>
          {% endif %}
          {% if review.calif == 5 %}
            <p class="star"> Calificación: ★★★★★ </p>
          {% endif %}

        {% endfor %}
        <br>
      </ul>

    <form class="rev" action="" method="post">
        <h1>Make A Review</h1>
      <textarea name="makereview" rows="6" cols="80"></textarea>
      <p class="calif">
      <input id="radio1" type="radio" name="star" value="5"><!--
   --><label for="radio1">★</label><!--
   --><input id="radio2" type="radio" name="star" value="4"><!--
   --><label for="radio2">★</label><!--
   --><input id="radio3" type="radio" name="star" value="3"><!--
   --><label for="radio3">★</label><!--
   --><input id="radio4" type="radio" name="star" value="2"><!--
   --><label for="radio4">★</label><!--
   --><input id="radio5" type="radio" name="star" value="1"><!--
   --><label for="radio5">★</label>
      </p>
      <button type="submit" class="revb">Send</button>
    </form>
  </div>
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
